@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100;300&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --main-color: #239b7e; */
  --main-color: #deab5f;
  --primary-color: #312e2e;
  --body-color: #f6eede;
  --main-font: "Playfair Display", serif;
  --primary-font: "Roboto", sans-serif;
}

html {
  font-family: var(--main-font);
}

body {
  background-color: #f6eede;
}

/* Nav-Start */
nav {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-family: var(--primary-font);
  font-weight: bold;
}

.logo {
  border: 1px solid red;
  width: 5%;
  height: 60%;
  margin-left: 1.5rem;
  background-image: url(images/alien-svgrepo-com.svg);
  /* background-size: cover; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.burger {
  height: 100%;
  width: 5rem;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.burger span {
  width: 50%;
  height: 2px;
  background-color: black;
}
/* Nav-End */
