* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: blueviolet;
}
.container {
  border: 2px solid white;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  /* Flexbox */
  display: flex;

  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}

.container .child {
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
