* {
  margin: 0;
}

.container {
  border: 2px solid red;
  border-radius: 4px;
  padding: 5px;
  background: rgb(34, 34, 34);
  height: 100vh;
  /* GRID */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 60px 0.5fr 1fr 1fr 60px;
  grid-template-areas:
    "nav nav nav nav aside"
    "header header header header aside"
    "main main main main aside"
    "footer footer footer footer footer";
  gap: none;
}

nav {
  grid-column: 1/6;
  grid-row: 1/2;
}

header {
  grid-column: 1/5;
  grid-row: 2/3;
}

aside {
  grid-column: 5/6;
  grid-row: 2/5;
}
main {
  grid-column: 1/5;
  grid-row: 3/5;
}

footer {
  grid-column: 1/6;
  grid-row: 5/6;
}

.S {
  padding: 5px;
  background: rgb(84, 84, 84);
  text-align: center;
  color: #fff;
  margin: 2px;
}
