* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(95, 215, 123);
}

.container .img {
  background-image: url("https://plus.unsplash.com/premium_photo-1661290231745-15f1ed6fea88?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
    url("https://images.unsplash.com/photo-1652990337463-b79f5759e0b8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* background-blend-mode: screen; */
  /* mix-blend-mode: overlay; */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: screen; */
  /* mix-blend-mode: lighten; */
  /* mix-blend-mode: darken; */
  /* mix-blend-mode: color-dodge; */
  /* mix-blend-mode: color-burn; */
  /* mix-blend-mode: hard-light; */
  /* mix-blend-mode: soft-light; */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: hue; */
  /* mix-blend-mode: saturation; */
  /* mix-blend-mode: luminosity; */
  /* mix-blend-mode: color; */
}
